# Storage e banco de dados
storage/
*.db
*.sqlite
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Variáveis de ambiente
.env

# Testes
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# macOS
.DS_Store
server/.DS_Store
